@keyframes to-bl {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(-40px, 40px);
    }
}

@keyframes to-t {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(0px, -40px);
    }
}


.animate-to-bl {
    animation: to-bl 2.25s linear 0s infinite;
}


.animate-to-t {
    animation: to-t 2.25s linear 0s infinite;
}